<%= render "shared/page_title", page_title: t('devise.registrations.update') %>

<div class="col-lg-6 col-md-offset-3">
  <div class="jumbotron">
  <%= render 'devise/registrations/form' %>
  <%= link_to t('devise.registrations.delete'), registration_path(resource_name), :data => {:confirm => t('devise.registrations.delete_user') }, :method => :delete%>
  </div>
</div>