<%= render "shared/page_title", page_title: t('devise.registrations.update') %>

<div class="col-lg-6 col-md-offset-3">
  <div class="jumbotron">
  <%= render 'devise/registrations/form' %>
  <% if @current_user.blocks.present? %>
    <%= link_to " החזר תמונות מוסתרות", '/user_blocks/' + current_user.id.to_s, format: :json, remote: true, method: :delete %> <div class="clearfix"></div>
  <% end %>
  <%= link_to t('devise.registrations.delete'), registration_path(resource_name), :data => {:confirm => t('devise.registrations.delete_user') }, :method => :delete%>
  </div>
</div>