<% content_for :welcome do %>
  <p><%= t('welcome.question1') %><br><%= t('welcome.question2') %></p>
  <h2><%= t('welcome.answer') %></h2>
  <hr style="background: white; width: 85%; height: 3px;">
<% end %>

<%= render template: 'devise/sessions/new' %>