<% content_for :gallery do %>
  <%= render "shared/page_title", page_title: t('index_gallery') %>

  <div class="gallery">
    <br/>
    <ul class="row">
      <% @items_want_mine.each do |item| %>
        <%= render 'items/item_block', locals: {item: item, type: :want_mine}%>
      <% end %>
      <% @items_dont_want_mine.each do |item| %>
        <%= render 'items/item_block', locals: {item: item, type: :dont_want_mine}%>
      <% end %>
    </ul>
  </div>
  <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="UserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times; &NonBreakingSpace;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="UserModalLabel"></h4>
        </div>
        <div class="modal-body">
          <div id="my-area"></div>
          <div class="gallery">
            <ul class="row" id="modal-injection">
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <%= link_to t('swap_now'), "/", format: :json, remote: true, method: :post, :id => "swap-btn", :class => "btn btn-lg btn-success" %>
          <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">סגור</button>
        </div>
      </div>
    </div>
  </div>
<% end %>