<div class="gallery_thumbnail">
  <br/>
  <ul class="row">
    <% @items.each do |item| %>
      <%= render 'item_block', locals: {item: item}%>
    <% end %>
    <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a href="<%= new_item_path %>" class="thumbnail new-item-placeholder">
        <p class="new-item-placeholder-inside text-center">+</p>
      </a>
    </li>
  </ul>
</div>
