<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="direction: rtl">
<h1>שלום <%= @user.first_name %>,</h1>
<p>
אחד הגולשים באתר מעוניין להתחלף איתך.
</p>
<p>
<a href="www.swapart.co">כנס לאתר</a>
</p>
<p>תודה, ושיהיה יום נהדר!</p>
</body>
</html>