// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery_thumbnail{
  ul {
    padding:0 0 0 0;
    margin:0 0 0 0;
  }
  ul li {
    list-style:none;
    margin-bottom:25px;
  }
}
.thumbnail {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
  p, label, h1, h2, h3, h4, h5,th, td {
    color: #333333;
  }
  .want_mine {
    font-weight: bold;
    font-size: larger;
  }
//  .wants_to_swap {
//    font-weight: bolder;
//    font-size: larger;
//  }
  .user_name {
    font-weight: bolder;
    font-size: larger;
  }
  .long-description {
    position: absolute;
  }

  .fa, .glyphicon {
    font-size: 25px;
  }
}

//.thumbnail-image-div {
//  align-content: center;
//  height: 150px;
//  width: 200px;
//}
//
.thumbnail img {
  height: 200px;
  max-width:100%;
  margin: 0 auto;
}

.thumbnail_image_size {
  position: absolute;
  font-weight: bold;
  color: #222222;
  margin-bottom: 0;
  //  background-color: #eeeeee;
//  padding: 2px;
//  opacity: 0.8;
}

.item-date {
  font-weight: bold;
  color: #222222;
  margin-bottom: 0;
}

.thumbnail_close, .toggle_active {
  position: absolute;
}

.modal-body {
  background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;}

.short_box {
  width: 120px !important;
  margin-left: 75px;
}

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  2em;
  padding: 0.2em;
  color:   white;
  display: none;
}