<p style="direction: rtl">שלום <%= @user.first_name %>!</p>

<p style="direction: rtl">התקבלה בקשה לשינוי הסיסמא שלך. ניתן לעשות זאת על ידי לחיצה על הלינק הבא:</p>

<p style="direction: rtl"><%= link_to 'שנה סיסמא', edit_password_url(@resource, reset_password_token: @token) %></p>

<p style="direction: rtl">אם לא ביקשת לשנות סיסמא, ניתן להתעלם ממיל זה</p>
<p style="direction: rtl">הסיסמא לא תשתנה ללא לחיצה על הלינק ושינוי הסיסמא באתר</p>
