<% if current_page?(root_path) && !user_signed_in?%>
  <div class="row">
  <div class="col-lg-6 col-md-offset-3">
  <div class="jumbotron">
    <% if content_for?(:welcome) %>
      <div class="welcome">
        <%= yield :welcome %>
      </div>
    <% end %>
    <% if content_for?(:login) %>
      <div class="login">
        <%= yield :login %>
      </div>
    <% end %>
  </div>
  </div>
  </div>

<% else %>

  <div class="row">
    <div class="col-lg-12 col-sm-12">
       <%= yield %>
    </div>
  </div>
<% end %>
