<footer>
  <p>
    &copy; <%= Time.now.year %> <%= site_name %>
    &bull;
    <%= link_to "אודות", about_path %></li>
    &bull;
    <span>מה אהבתם? מה חסר?</span>
    <a href="mailto:contact@swapart.co">שלחו לנו מייל</a>
  </p>
</footer>
